
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.log-box {
  height: 460px;
  width: 100%;
  background-color: #21232E;
  border-radius: 6px;
}

.log-box > div {
  padding: 16px;
}

.log-box > div::-webkit-scrollbar {
  width: 12px;
}

.log-box > div::-webkit-scrollbar-track {
  background-color: #21232E;
}

.log-box > div::-webkit-scrollbar-thumb {
  background-color: #606476;
}
​